*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    display: flex;
    justify-content: center;
    background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: max(50%, 400px);
    font-family: 'Spartan', sans-serif;
    padding: 1.5rem;
    min-height: 100vh;
    align-items: center;
}

#container{
    display: flex;
    width: 69rem;
    margin: auto;
    flex-direction: column;
    text-align: left;
}

#container-item-1{
    display: flex;
}

#left p{
    color: hsl(303, 10%, 53%);
    margin-top: 0.7rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 500;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 2.5rem;
    font-weight: 800;
    width: 80%;
}

#left{
    width: 40%;
}

#container-item-2{
    display: flex;
    margin-top: 40px;
}

.reviews{
    background-color: hsl(300, 43%, 22%);
    border: 3px solid hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 1rem;
    /* margin-left: 0; */
    padding: 2rem;
    /* min-width: 30%; */
    max-width: 22rem;
    max-height: 15rem;
    min-height: 15rem;
    color: hsl(300, 24%, 96%);
    font-weight: 700;
}

#change{
    margin-left: 0;
}

.reviews img{
    max-width:40px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 1em;
}

.profile{
    display: flex;
}

.reviews p{
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: smaller;
    line-height: 1.3rem;
}

span{
    display: block;
    font-weight: 100;
    margin-top: 2px;
    color: hsl(333, 80%, 67%);
}

#r2{
    margin-left: 13rem;
}

#r3{
    margin-left: 16rem;
}

.image{
    display: inline-block;
}

.ratings{
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    padding: 1rem;
    margin: 1rem;
    margin-left: 10rem;
    width: 25rem;
    border-radius: 10px;
}

#irene {
    margin-top: 2rem;
}

#anne{
    margin-top: 3rem;
    margin-right: 0;
}

.shabd{
    display: inline-block;
    margin-left: 1.5rem;
    font-size: small;
}

@media only screen and (max-width: 900px) {

    body{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #left{
        margin: auto;
        width: 100%;
        text-align: center;
    }

    #left p{
        width: 100%;
    }

    h1{
        margin: auto;
        width: 50%;
    }

    #container-item-1{
        flex-direction: column;
    }

    .ratings{
        width: 50%;
        align-items: center;
        /* border-radius: 10px; */
    }

    #r1,#r2,#r3{
        margin-left: 0;
        margin-bottom: 5px;
    }

    #r1{
        margin-top: 30px;
    }

    #right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-item-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #change, #irene, #anne{
        margin-left: 0;
        margin: 1rem auto;
    }

    .shabd{
        display: block;
        text-align: center;
        margin-left: 0;
    }

    .ratings img{
        padding: 0.1rem;
        margin: 0.3rem;
    }

    .image{
        display: flex;
        justify-content: center;
    }

    @media only screen and (max-width: 375px) {
        .ratings{
            width: 90%;
            /* border-radius: 10px; */
        }

        h1{
            font-size: 2rem;
            margin: auto;
        }

        .reviews{
            max-height: none;
        }
    }

}
